body
{
   background-color: #B6FBFE;
   background-image: url('images/group_bkgrnd.png');
   background-repeat: repeat-y;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#Icon1
{
   height: 118px;
   width: 154px;
}
#Icon1 i
{
   color: #0963AD;
   display: inline-block;
   font-size: 118px;
   line-height: 118px;
   vertical-align: middle;
   width: 117px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #337AB7;
}
#wb_Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#Icon2
{
   height: 110px;
   width: 172px;
}
#Icon2 i
{
   color: #0963AD;
   display: inline-block;
   font-size: 110px;
   line-height: 110px;
   vertical-align: middle;
   width: 109px;
}
#wb_Icon2:hover #Icon2 i
{
   color: #337AB7;
}
#wb_Icon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#Icon3
{
   height: 95px;
   width: 154px;
}
#Icon3 i
{
   color: #0963AD;
   display: inline-block;
   font-size: 95px;
   line-height: 95px;
   vertical-align: middle;
   width: 94px;
}
#wb_Icon3:hover #Icon3 i
{
   color: #337AB7;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text10 div
{
   text-align: center;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text12 div
{
   text-align: center;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#Table1
{
   border: 2px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 536px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell1
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 22px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table1 .cell2
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 22px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table1 .cell3
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table1 .cell4
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table1 .cell5
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table1 .cell6
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table1 .cell7
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table1 .cell8
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table1 .cell9
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table1 .cell10
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table1 .cell11
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table1 .cell12
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table1 .cell13
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table1 .cell14
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table2
{
   border: 2px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table2 td
{
   padding: 0;
}
#Table2 td div
{
   white-space: nowrap;
}
#Table2 p, #Table2 ul
{
   margin: 0;
   padding: 0;
}
#Table2 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 536px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell1
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 22px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table2 .cell2
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 22px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table2 .cell3
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table2 .cell4
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table2 .cell5
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table2 .cell6
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table2 .cell7
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table2 .cell8
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table2 .cell9
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table2 .cell10
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table2 .cell11
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table2 .cell12
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table2 .cell13
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table2 .cell14
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table3
{
   border: 2px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table3 td
{
   padding: 0;
}
#Table3 td div
{
   white-space: nowrap;
}
#Table3 p, #Table3 ul
{
   margin: 0;
   padding: 0;
}
#Table3 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 536px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell1
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 22px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table3 .cell2
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 22px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table3 .cell3
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 68px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table3 .cell4
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 68px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table3 .cell5
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table3 .cell6
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table3 .cell7
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table3 .cell8
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table3 .cell9
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table3 .cell10
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table3 .cell11
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table3 .cell12
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table3 .cell13
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table3 .cell14
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table4
{
   border: 2px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table4 td
{
   padding: 0;
}
#Table4 td div
{
   white-space: nowrap;
}
#Table4 p, #Table4 ul
{
   margin: 0;
   padding: 0;
}
#Table4 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 536px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell1
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 22px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table4 .cell2
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 22px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table4 .cell3
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table4 .cell4
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table4 .cell5
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table4 .cell6
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table4 .cell7
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table4 .cell8
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table4 .cell9
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table4 .cell10
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table4 .cell11
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table4 .cell12
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#Table4 .cell13
{
   background-color: #0000CD;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 248px;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table4 .cell14
{
   background-color: #00BFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#MenuBar1
{
   background-color: transparent;
   border: 0px solid #666666;
}
.MenuBar1SubMenu
{
   background-image: linear-gradient(to top, #A5C8EA 0%, #7BB2EE 49%, #4AA0F7 50%, #B6FBFE 100%);
   border: 1px solid #002840;
   border-bottom: 0;
   position:	absolute;
   visibility: hidden;
   overflow: visible;
   z-index: 100;
}
.MenuBar1SubMenuTable
{
   cursor: default;
   border: 0;
   padding: 0;
}
.MenuBar1SubMenuTable tr
{
   margin: 0;
   padding: 0;
}
.MenuBar1Menu
{
   background-color: transparent;
   margin: 0px 0 0px 0px;
   padding: 0;
}
.MenuBar1MenuOuter
{
   background-color: transparent;
   border: 0px solid #666666;
}
.MenuBar1Menu tr
{
   margin: 0;
   padding: 0;
}
.MenuBar1MainItem .MenuBar1MainItemLeft,
.MenuBar1MainItem .MenuBar1MainFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   text-align: center;
   padding: 3px 0 3px 0;
   font-size: 1px;
}
.MenuBar1MainItem .MenuBar1MainItemText, 
.MenuBar1MainItem .MenuBar1MainItemText a,
.MenuBar1MainItem .MenuBar1MainFolderText,
.MenuBar1MainItem .MenuBar1MainFolderText a
{
   background-image: linear-gradient(to bottom, #002840 0%, #4AC1F3 100%);
   color: #A5E3FE;
   font-size: 43px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   line-height: 49px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 1px solid #4ECAFD;
   border-right: 1px solid #4ECAFD;
   border-top: 1px solid #4ECAFD;
   border-left: 1px solid #4ECAFD;
   padding: 3px 5px 3px 5px;
   vertical-align: middle;
}
.MenuBar1MainItem .MenuBar1MainItemRight,
.MenuBar1MainItem .MenuBar1MainFolderRight
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 3px 0 3px 0;
   font-size: 1px;
}
.MenuBar1MainItemHover .MenuBar1MainItemLeft,
.MenuBar1MainItemActive .MenuBar1MainItemLeft,
.MenuBar1MainItemHover .MenuBar1MainFolderLeft,
.MenuBar1MainItemActive .MenuBar1MainFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 3px 0 3px 0;
   font-size: 1px;
}
.MenuBar1MainItemHover .MenuBar1MainItemText,
.MenuBar1MainItemActive .MenuBar1MainItemText,
.MenuBar1MainItemHover .MenuBar1MainItemText a,
.MenuBar1MainItemActive .MenuBar1MainItemText a,
.MenuBar1MainItemHover .MenuBar1MainFolderText,
.MenuBar1MainItemActive .MenuBar1MainFolderText,
.MenuBar1MainItemHover .MenuBar1MainFolderText a,
.MenuBar1MainItemActive .MenuBar1MainFolderText a
{
   background-image: linear-gradient(to bottom, #002840 0%, #0286BF 100%);
   color: #FFFFFF;
   font-size: 43px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   line-height: 49px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 1px solid #0395D3;
   border-right: 1px solid #0395D3;
   border-top: 1px solid #0395D3;
   border-left: 1px solid #0395D3;
   padding: 3px 5px 3px 5px;
   vertical-align: middle;
}
.MenuBar1MainItemHover .MenuBar1MainItemRight,
.MenuBar1MainItemActive .MenuBar1MainItemRight,
.MenuBar1MainItemHover .MenuBar1MainFolderRight,
.MenuBar1MainItemActive .MenuBar1MainFolderRight
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 3px 0 3px 0;
   font-size: 1px;
}
.MenuBar1MenuItem .MenuBar1MenuItemLeft,
.MenuBar1MenuItem .MenuBar1MenuFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   text-align: center;
   padding: 4px 0 3px 0;
   font-size: 1px;
}
.MenuBar1MenuItem .MenuBar1MenuItemText, 
.MenuBar1MenuItem .MenuBar1MenuItemText a,
.MenuBar1MenuItem .MenuBar1MenuFolderText,
.MenuBar1MenuItem .MenuBar1MenuFolderText a
{
   background-color: #4ECAFD;
   color: #002840;
   font-size: 27px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-align: left;
   text-decoration: none;
   line-height: 32px;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 1px solid #002840;
   border-top: 0px solid #002840;
   border-right: 0px solid #002840;
   border-left: 0px solid #002840;
   padding: 4px 5px 3px 6px;
   vertical-align: middle;
}
.MenuBar1MenuItem .MenuBar1MenuItemRight,
.MenuBar1MenuItem .MenuBar1MenuFolderRight
{
   background-color: #4ECAFD;
   width: 16px;
   cursor: pointer;
   border-bottom: 1px solid #002840;
   border-right: 0px solid #002840;
   border-top: 0px solid #002840;
   border-left: 0;
   padding: 4px 1px 3px 0;
   font-size: 1px;
}
.MenuBar1MenuItemHover .MenuBar1MenuItemLeft, 
.MenuBar1MenuItemActive .MenuBar1MenuItemLeft,
.MenuBar1MenuItemHover .MenuBar1MenuFolderLeft,
.MenuBar1MenuItemActive .MenuBar1MenuFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 4px 0 3px 0;
   font-size: 1px;
}
.MenuBar1MenuItemHover .MenuBar1MenuItemText,
.MenuBar1MenuItemActive .MenuBar1MenuItemText,
.MenuBar1MenuItemHover .MenuBar1MenuItemText a,
.MenuBar1MenuItemActive .MenuBar1MenuItemText a,
.MenuBar1MenuItemHover .MenuBar1MenuFolderText,
.MenuBar1MenuItemActive .MenuBar1MenuFolderText,
.MenuBar1MenuItemHover .MenuBar1MenuFolderText a,
.MenuBar1MenuItemActive .MenuBar1MenuFolderText a
{
   background-color: #0395D3;
   color: #FFFFFF;
   font-size: 27px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   line-height: 32px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 1px solid #002840;
   border-top: 0px solid #002840;
   border-right: 0px solid #002840;
   border-left: 0px solid #002840;
   padding: 4px 5px 3px 5px;
   vertical-align: middle;
}
.MenuBar1MenuItemHover .MenuBar1MenuItemRight,
.MenuBar1MenuItemActive .MenuBar1MenuItemRight,
.MenuBar1MenuItemHover .MenuBar1MenuFolderRight,
.MenuBar1MenuItemActive .MenuBar1MenuFolderRight
{
   background-color: #0395D3;
   width: 16px;
   cursor: pointer;
   border-bottom: 1px solid #002840;
   border-right: 0px solid #002840;
   border-top: 0px solid #002840;
   border-left: 0;
   padding: 4px 0 3px 0;
   font-size: 1px;
}
.MenuBar1MenuItem .MenuBar1MenuFolderRight
{
   background-image: url('images/group_MenuBar1_bkgrnd18.png');
   background-position: left center;
   background-repeat: no-repeat;
}
.MenuBar1MenuItemHover .MenuBar1MenuFolderRight,
.MenuBar1MenuItemActive .MenuBar1MenuFolderRight
{
   background-image: url('images/group_MenuBar1_bkgrnd20.png');
   background-position: left center;
   background-repeat: no-repeat;
}
.MenuBar1SubMenu td,
.MenuBar1Menu td,
.MenuBar1Menu tr
{
   vertical-align: middle;
}
.MenuBar1MenuSplitText div
{
   height: 1px;
   padding: 0;
   background-color: #A5E3FE;
   overflow: hidden;
}
.MenuBar1MenuItem .MenuBar1MenuSplitLeft
{
   height: 7px;
   padding: 0;
}
.MenuBar1MenuItem .MenuBar1MenuSplitText
{
   background-color: #4ECAFD;
   height: 7px;
   padding: 0 6px 0 6px;
}
.MenuBar1MenuItem .MenuBar1MenuSplitRight
{
   background-color: #4ECAFD;
   height: 7px;
   padding: 0;
}
.MenuBar1MainSplitText div
{
   background-color: #A5E3FE;
   height: 1px;
   padding: 0;
   overflow: hidden;
}
.MenuBar1MainItem .MenuBar1MainSplitLeft 
{
   height: 9px;
   padding: 0;
}
.MenuBar1MainItem .MenuBar1MainSplitText
{
   background-image: linear-gradient(to bottom, #002840 0%, #4AC1F3 100%);
   height: 9px;
   padding: 0;
}
.MenuBar1MainItem .MenuBar1MainSplitRight
{
   height: 9px;
   padding: 0;
}
.MenuBar1MainItem
{
   vertical-align: middle;
}
.MenuBar1HorizontalSplit
{
   border-right: 0 solid #8080FF;
   border-left: 0 solid #8080FF;
   width: 17px;
   background-image: linear-gradient(to bottom, #002840 0%, #4AC1F3 100%);
   padding: 3px 0 3px 0;
   vertical-align: middle;
   text-align: center;
   text-decoration: none;
   color: #A5E3FE;
   font-size: 43px;
   font-family: Arial;
   font-style: normal;
}
.MenuBar1MainItem, .MenuBar1MainItemHover, .MenuBar1MainItemActive,
.MenuBar1MenuItem, .MenuBar1MenuItemHover, .MenuBar1MenuItemActive
{
   white-space: nowrap;
}
.MenuBar1SpacerDiv
{
   background: transparent;
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 1px;
}
#wb_MenuBar1
{
}
#wb_MenuBar1:hover
{
   z-index: 1111 !important;
}
